<head>
    <!DOCTYPE html>
    <html xmlns="http://www.thymeleaf.org">



    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>


        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    </head>

<body>
    <div class="container">
        <h3>Add Recipe</h3>
        <hr>
        <div class="row">
            <div class="col-md-12">

                <form action="" th:action="@{/recipes/save}" th:object="${recipe}" method="post"
                    enctype="multipart/form-data">

                    <select class="form-control mb-4 col-4" name="" id="" th:field="*{category.id}">
                        <option th:each=" category:${categories}" th:value="${category.id}" th:text="${category.name}">
                        </option>
                    </select>



                    <textarea type="text" rows="4" id="summernote" placeholder="Content" class="form-control"
                        th:field="*{ingredients}" autocomplete="off"></textarea>


                    <input type="hidden" th:field="*{id}" class="form-control mb-4 col-4" placeholder="id">
                    <input type="text" th:field="*{title}" class="form-control mb-4 col-4" placeholder="Title">
                    <input type="text" th:field="*{origin}" class="form-control mb-4 col-4" placeholder="Origin">
                    <input type="text" th:field="*{preparationTime}" class="form-control mb-4 col-4"
                        placeholder="Preparation Time">
                    <input type="text" th:field="*{cookingTime}" class="form-control mb-4 col-4"
                        placeholder="Cooking Time">
                    <input type="text" th:field="*{servings}" class="form-control mb-4 col-4" placeholder="Servings">
                    <input type="text" th:field="*{level}" class="form-control mb-4 col-4" placeholder="Level">
                    <input type="file" name="categoryImage" id="categoryImage" accept="image/png, image/jpeg"
                        placeholder="First Name">
                    <p><img id="thumbnail" alt="Preview"></p>
                    <button type="submit" class="btn btn-info col-2">Save</button>

                </form>
                <hr>
                <a th:href="@{/recipes/list}">Back to Categories List</a>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
</body>

</html>